@using Liftee.Controllers
@model ComboBoxFor
@{
    var data = new string[] {
        "Все", "Законченный", "В процессе", "Проблемы"
    };
}

<div class="row mb-5">
    
    <div class="col">
        <a asp-action="Index" asp-controller="Dashboard" asp-route-category="All">
            <div class="d-flex flex-row widget summary projects" onclick="onProjectsWidgetClick">
                <div class="d-flex flex-column justify-content-center p-4">
                    <i class="fa-solid fa-file-lines fa-2xl"></i>
                </div>
                <div class="d-flex flex-column m-auto py-3">
                    <span class="lead">Общий</span>
                    <h1 class="display-6 fw-bold">@ViewBag.TotalProjects</h1>
                </div>
            </div>
        </a>
        </div>

    <div class="col">
        <a asp-action="Index" asp-controller="Dashboard" asp-route-category="Finished">
            <div class="d-flex flex-row widget summary finished">
            <div class="d-flex flex-column justify-content-center p-4">
                <i class="fa-sharp fa-solid fa-check fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Законченные</span>
                <h1 class="display-6 fw-bold">@ViewBag.FinishedProjects</h1>
            </div>
        </div>
        </a>
    </div>

    <div class="col">
        <a asp-action="Index" asp-controller="Dashboard" asp-route-category="InProccess">
            <div class="d-flex flex-row widget summary in-process">
                <div class="d-flex flex-column justify-content-center p-4">
                    <i class="fa-sharp fa-solid fa-bolt fa-2xl"></i>
                </div>
                <div class="d-flex flex-column m-auto py-3">
                    <span class="lead">В процессе</span>
                    <h1 class="display-6 fw-bold">@ViewBag.inProcessProjects</h1>
                </div>
            </div>
        </a>
    </div>

    <div class="col">
        <a asp-action="Index" asp-controller="Dashboard" asp-route-category="Debts">
            <div class="d-flex flex-row widget summary debts">
                <div class="d-flex flex-column justify-content-center p-4">
                    <i class="fa-sharp fa-solid fa-file-invoice-dollar fa-2xl"></i>
                </div>
                <div class="d-flex flex-column m-auto py-3">
                    <span class="lead">Долги</span>
                    <h1 class="display-6 fw-bold">@ViewBag.Debts</h1>
                </div>
            </div>
        </a>
    </div>

    <div class="col">
        <a asp-action="Index" asp-controller="Dashboard" asp-route-category="Problems">
            <div class="d-flex flex-row widget summary problems">
                <div class="d-flex flex-column justify-content-center p-4">
                    <i class=" fa-sharp fa-solid fa-circle-exclamation fa-2xl"></i>
                </div>
                <div class="d-flex flex-column m-auto py-3">
                    <span class="lead">Проблемы</span>
                    <h1 class="display-6 fw-bold">@ViewBag.Problems</h1>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row p-3">
    <div class="widget">
            <div class="p-4">
                <h5 class="fw-bold">@ViewBag.ProjectsCount Projects</h5>
                <form class="mt-3" asp-controller="Dashboard" asp-action="Index" method="get">
                    <p>
                        <select id="select" asp-items="@(new SelectList(Model.FitterData))" asp-for="@Model.FitterValue">
                            <option selected="true" disabled="disabled">
                                Выбрать монтажника
                            </option>
                        </select>
                        <select id="select" asp-items="@(new SelectList(Model.DocumentData))" asp-for="@Model.DocumentValue">
                            <option selected="true" disabled="disabled">
                                Выбрать документа
                            </option>
                        </select>
                        <input type="submit" value="Применить" class="btn btn-primary btn-lg"/>
                    </p>
                </form>
            </div>
            <div class="px-4 pb-4">
                <ejs-grid id="recent-transactions"
                          dataSource="@ViewBag.Projects" 
                          gridLines="None"
                          rowDataBound="rowDataBoundEvent"
                          detailTemplate="#detailtemplate"
                          toolbar="@(new List<string>(){"Search"})"
                              allowSorting="true">
                 <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                    <e-grid-columns>
                        <e-grid-column headerText="Название объекта" field="PropertyName" type="text" ></e-grid-column>
                        <e-grid-column headerText="Договор статус" field="ContractStatus" textAlign="Left"></e-grid-column>   
                        <e-grid-column headerText="Статус монтажа" field="InstallationStatus" textAlign="Left"></e-grid-column>
                        <e-grid-column headerText="Монтажник" field="Fitter" textAlign="Left"></e-grid-column>
                        <e-grid-column headerText="Проблема" field="Issues" textAlign="Left"></e-grid-column>
                        <e-grid-column headerText="Статус проекта" field="ProjectStatus" textAlign="Left"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
            </div>
        </div>
</div>

<style type="text/css" class="cssStyles">
    .detailtable td {
        font-size: 13px;
        padding: 4px;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: white;
    }

    #submitbutton {
        margin: 10px auto;
        text-align: center;
    }
</style>


<script>

function rowDataBoundEvent(args) {

    if (args.data['IsDue']) {
        args.row.bgColor = '#c44545';
    }
}

function onProjectsWidgetClick(args) {
    console.log(args);
}

</script>

<script type="text/x-template" id="detailtemplate">
    <table class="detailtable" width="100%">
        <colgroup>
            <col width="50" />
            <col width="50" />
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <span style="font-weight: 500;">Договор: </span> ${Contract}
                </td>
                <td>
                    <span style="font-weight: 500;">Название объекта: </span> ${PropertyName}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: 500;">Контактные данные: </span> ${ContactDetails}
                </td>
                <td>
                    <span style="font-weight: 500;">Договор Статус: </span> ${ContractStatus}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: 500;">Серийный номер: </span> ${SerialNumber}
                </td>
                <td>
                    <span style="font-weight: 500;">Дата нач.монтажа: </span> ${new Date(InstallationStartDate).toLocaleDateString()}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: 500;">Монтажник: </span> ${Fitter}
                </td>
                <td>
                    <span style="font-weight: 500;">Статус монтажа: </span> ${InstallationStatus}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: 500;">Дата окон.монтажа: </span> ${new Date(InstallationFinishDate).toLocaleDateString()}
                </td>
                <td>
                    <span style="font-weight: 500;">Проблема: </span> ${Issues}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: 500;">Документ Ф2/Ф3: </span> ${Document}
                </td>
                <td>
                    <span style="font-weight: 500;">Паспорт лифта: </span> ${ElevatorPassport}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: 500;">Статус проекта: </span> ${ProjectStatus}
                </td>
                <td>
                    <span style="font-weight: 500;">Г/П: </span> ${GP}
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: 500;">Тип лифта: </span> ${ElevatorType}
                </td>
                <td>
                    <span style="font-weight: 500;">Взаиморасчёт: </span> ${MutualSettlement}
                </td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <span style="font-weight: 500;">Серийные номера: </span>
                    <br/>
                    ${SerialNumbers}
                </td>
            </tr>
        </tbody>
    </table>
</script>
